@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 420px;
}
.number {
  font-size: 30px;
  width: 80px;
  height: 80px;
  margin: 5px;
  display: grid;
  place-items: center;
}
.card-header {
  padding: 9px 18px 9px 18px;
}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.large {
  width: 170px;
}

h1 {
  font-size: 65px;
}

.btn:active {
  transform: scale(0.95);
  opacity: 0.8;
}
.card-body .btn:focus {
  outline: none;
  box-shadow: none;
}
.card-header {
  height: 90px;
}
span {
  font-size: 40px;
}
@media only screen and (min-width: 250px) and (max-width: 385px) {
  .container {
    width: 340px;
  }
  .number {
    font-size: 20px;
    width: 60px;
    height: 60px;
    margin: 5px;
    display: grid;
    place-items: center;
  }

  .large {
    width: 130px;
  }

  h1 {
    font-size: 50px;
  }
  .card-header {
    height: 70px;
  }
  span {
    font-size: 30px;
  }
}
