@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 420px;
}
.container .card .card-header {
  padding: 9px 18px 9px 18px;
  min-height: 100px;
}
.container .card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .card .card-body .number {
  font-size: 30px;
  width: 80px;
  height: 80px;
  margin: 5px;
  display: grid;
  place-items: center;
}
.container .card .card-body .large {
  width: 170px;
}
.container .card .card-header .screen {
  font-size: 65px;
}
.container .card .card-body .btn:active {
  transform: scale(0.95);
  opacity: 0.8;
}
.container .card .card-body .large:focus {
  outline: none;
  box-shadow: none;
}
.container .card .card-body span {
  font-size: 40px;
}
@media only screen and (min-width: 250px) and (max-width: 385px) {
  .container {
    width: 340px;
  }
  .container .card .card-body .number.number {
    font-size: 20px;
    width: 60px;
    height: 60px;
    margin: 5px;
    display: grid;
    place-items: center;
  }

  .container .card .card-body .large {
    width: 130px;
  }

  .container .card .card-header .screen {
    font-size: 50px;
  }
  .container .card .card-header {
    height: 70px;
  }
  .container .card .card-body span {
    font-size: 30px;
  }
}
